<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<title>ZooTopia</title>
<meta charset="UTF-8">

<th:block th:include="~{_shared/head}"/>
<th:block th:include="~{_shared/head-bilet}"/>



<body>
<main>

<div class="w3-top">
    <div class="w3-bar w3-red w3-card w3-left-align w3-large">
        <a class="w3-bar-item w3-button w3-hide-medium w3-hide-large w3-right w3-padding-large w3-hover-white w3-large w3-red"
           href="javascript:void(0);" onclick="myFunction()" title="Toggle Navigation Menu"><i
                class="fa fa-bars"></i></a>
        <a class="w3-bar-item w3-button w3-hide-medium w3-hide-large w3-right w3-padding-large w3-hover-white w3-large w3-red"
           href="javascript:void(0);" onclick="myFunction()" title="Toggle Navigation Menu"><i
                class="fa fa-bars"></i></a>
        <a href="/home" class="w3-bar-item w3-button w3-padding-large w3-white">Начало</a>
        <a href="/ticket" class="w3-bar-item w3-button w3-hide-small w3-padding-large w3-hover-white">Купи билет</a>
        <a href="/guide" class="w3-bar-item w3-button w3-hide-small w3-padding-large w3-hover-white">Екскурзоводи</a>
        <a href="/animals" class="w3-bar-item w3-button w3-hide-small w3-padding-large w3-hover-white">Животни</a>
        <a class="nav-item mr-2">
            <form th:action="@{/logout}" method="post">
                <button class="w3-bar-item w3-button w3-hide-small w3-padding-large w3-hover-white" type="submit">Изход</button>

            </form>
        </a>
    </div>
</div>
<div class="text-center">
    <br>
    <br>

    <h1 >Профил</h1>
    <div class="bg-blur" style="background-color:Tomato;">
        <div class="row ">
            <div class="col ">
                <h4>Имейл:</h4>
                <h4>[[${session.user.email}]]</h4>
            </div>
            <div class="col ">
                <h4>Потребителско име:</h4>
                <h4>[[${session.user.username}]]</h4>
            </div>

            <div class="col ">
                <h4>Телефон:</h4>
                <h4>[[${session.user.phone}]]</h4>
            </div>

        </div>

        <br>
        <div class="row ">
            <div class="col ">
                <h4>Вид на билет:</h4>
                <h4>[[${session.user.bilet}]]</h4>

            </div>
        </div>

        <div class="row ">
            <div class="col ">
                <h4>Екскурзовод:</h4>
                <h4>[[${session.user.ekskurzovod}]]</h4>
            </div>

        </div>

        <div class="row ">
            <div class="col ">
                <h4>Валидност на билета:</h4>
                <h4>[[${session.user.srok}]] дни</h4>

            </div>
        </div>
        <br>

    </div>
</div>
    <img src="img/profile.jpg" align="center" width="1400" height="475">
<script>

    function myFunction() {
        var x = document.getElementById("navDemo");
        if (x.className.indexOf("w3-show") == -1) {
            x.className += " w3-show";
        } else {
            x.className = x.className.replace(" w3-show", "");
        }
    }
</script>
</main>
</body>
</html>
